#encounter-page {
  -webkit-transition: width .3s linear;
  -moz-transition:    width .3s linear;
  -ms-transition:     width .3s linear;
  -o-transition:      width .3s linear;
  transition:         width .3s linear;
}

#encounter-page * .row {
  margin: 0;
}

#encounter-form {
  height: auto;
  position: static;
}
.encounter-details {
  height: 100%;
}


.encounter-form {
  margin: 20px 10px 40px;
}

.journey-form {
  margin: 20px;
}

.slide-out.active > #encounter-page {
  width: calc(100% - 400px);
}

#encounter-nwau-calculations {
  max-height: 400px;
}

.encounter-form-button-group {
  padding: 0;
}


