.navbar {
  padding: 0 8px;
}
.navbar-default {
  margin-bottom: 0;
}
.navbar-btn {
  min-width: 40px;
}
.navbar-btn.pull-left {
  margin-right: 8px;
}
.navbar-btn.pull-right {
  margin-left: 8px;
}
.navbar-title {
  color: $nav-text-color;
  font-size: 30px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.navbar-toggle {
  display: initial;
}