<div class="ui-slider-wrapper ui-widget horizontal">

    <div class="ui-slider-labels">
        <div class="ui-slider-label-ticks" style="left: 0%;"><span></span>
            0</div>
        <div class="ui-slider-label-ticks" style="left: 17%;"><span></span>
            1</div>
        <div class="ui-slider-label-ticks" style="left: 33%;"><span></span>
            2</div>
        <div class="ui-slider-label-ticks" style="left: 50%;"><span></span>
            3</div>
        <div class="ui-slider-label-ticks" style="left: 67%;"><span></span>
            4</div>
        <div class="ui-slider-label-ticks" style="left: 83%;"><span></span>
            5</div>
        <div class="ui-slider-label-ticks" style="left: 100%;"><span></span>
            6</div>
    </div>

    <div id="slider1" class="ui-slider ui-slider-horizontal ui-widget-content ui-corner-all">
        <a href="#" class="ui-slider-handle ui-state-default ui-corner-all" style="left: 0%;"></a>
    </div>

</div>